/** To-Do/Questions **/

/* 
- With the splash page, I don't want it on mobile. Does the
	home page also need to be index.html? (device check java)
*/

/** Base Styles **/

/**
font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Poiret One', cursive;
font-family: 'Harmattan', sans-serif;
font-family: 'Arima Madurai', cursive;
font-family: 'Cormorant Garamond', serif;
**/

html {
  font-size: 62.5%;
  font-family:'Open Sans', sans-serif;
  width: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

.center {
	text-align: center;
}

section {
	display: flex;
}

.ylw-shadow {
	text-shadow: 1.5px .5px 1.5px rgba(226,96,0,.7);
}

.pink-shadow {
	text-shadow: -1.5px .5px 1.5px rgba(255,64,64, .7);
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 8rem;
}

ul {
	padding-left: 0rem;
}

/******************************************
/* Splash Page (.Index)
/*******************************************/

/** Moved .jcarousel CSS to own file for editing ease. */
/** TEMPORARY **/

.splash-name {
	margin-bottom: 8rem;
	margin-top: 8rem;
}

.splash-enter {
	font-size: 4rem;
	margin-top: 5rem;
}

/******************************************/
/* Header (All Pages)
/******************************************/

header {
	margin-top: 1rem;
}

.logo {
	display: block;
	margin: auto;
}

.header-name {
	margin-left: 20%;
	margin-top: -7.5rem;
	margin-bottom: 0;
}

@media (max-width: 1300px) {
	.header-name {
		display: block;
		margin: 0rem;
		text-align: center;	
	}
 }


.main-menu ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-menu li {
	font-size: 4rem;
	margin-top: 2rem;
	font-weight: 600;
	color: #000;
}

.nav-pad {
	padding-left: 5rem;
}

@media (max-width: 700px) {
	.main-menu ul {
		display: block;
	}

	.main-menu li {
		font-size: 2.7rem;
	}

	.logo {
		width: 50%;
		height: 50%;
	}

	.header-name {
		font-size: 5.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.nav-pad {
		padding-left: 0rem;
	}
}

/******************************************
/* Home Page (home.html)
/*******************************************/

#quote-section {
	flex-flow: row wrap;	
	justify-content: center;
	align-items: center;
	height: 25rem;
	width: 85%;
	margin: auto;
	margin-bottom: 3rem;
}

blockquote {
	font-family: 'Life Savers', cursive;	
	font-size: 1.8rem;
	flex-grow: 1;
	flex-shrink: 1;
	width: 20%;
	align-items: flex-start;
	margin-top: 0rem;
	margin-bottom: 2rem;
}

#low-quote {
	align-self: flex-end;
	margin-bottom: 0rem;
}

blockquote footer {
	font-size: 2.4rem;
	margin-top: 1rem;
	text-align: center;
}

#works {
	text-align: center;
	flex-flow: row wrap;	
	justify-content: center;
	align-items: center;
	height: auto;
	margin-top: 0;
}

.covers {
	width: 60%;
	padding-top: 2rem;
}

 @media (max-width: 1289px) {
	#quote-section {
		margin-top: 4rem;
		margin-bottom: 1rem;
		height: 80%;
	}

	#portrait {
		order: 1;
	}

	#gom {
		order: 3;
	}
}
 }

@media (max-width: 1250px) {
	.main-section {
		width: 100%;
	}

	#quote-section {
		width: 100%;
	}
 }

@media (max-width: 815px) {
	#quote-section .hidden-quote:nth-child(2) {
		display: none;
	}
}

@media (max-width: 700px) {
	blockquote {
		margin: auto;
		font-size: 2rem;
		width: 65%;
		padding-top: 3rem;
	}

	blockquote footer {
		font-size: 2rem;
	}

	#quote-section {
		display: block;
		height: 100%;
	}

	.hidden-quote {
		display: none;
	}
	
	#works {
		display: flex;
		flex-direction: row nowrap;
	}

	#works a {
		margin: 0rem;
		width: 40%;
	}
}

/******************************************
/* Bio Page (AboutMe.html)
/*******************************************/

.bio-p {
	flex-flow: columns wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.bio-p p {
	font-family: 'Cormorant Garamond', serif;
	font-size: 2.2rem;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: justify;
	padding: 2rem;
	margin-right: 10rem;
	background-color:rgba(226,96,0,.05);
}

@media (max-width: 1130px) {
	.bio {
		display: block;
		margin: auto;
		text-align: center;
	}

	.books-img-left {
		padding: 0rem;
	}

	.bio-p {
		margin: auto;
	}

	.bio-p p {
		font-size: 1.6rem;
		text-align: center;
		margin-right: 0rem;
		margin: auto;
		width: 60%;
	}

	.books-p-right p {
		margin: 0rem;
	}
}

/******************************************
/* Books Page (books.html)
/*******************************************/

.books {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 4rem;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5rem;
	background-image: url("../images/WhitePaper.jpg");
}

.books-p-right {
	flex-flow: row wrap;
	font-size: 1.5rem;
	margin-right: 10rem;
}

@media (max-width: 700px) {
	.header-name {
		text-align: center;
	}

	.books {
		display: block;
		margin: auto;
		width: 100%;
	}
	
	.books-p-right {
		margin: auto;
		font-size: .5rem;
		text-align: justify;
	}
}

@media (max-width: 1075px) {
	.books-p-right {
		text-align: justify;
	}
}

.books-img-left {
	flex-flow: row wrap;
	margin: auto;
	padding-right: 2rem;
}

.books-img-left img {
	height: 40rem;
	margin-left: 10rem;
	margin-right: 10rem;
}

.books-p-left {
	flex-flow: row wrap;
	margin-left: 10rem;
	margin-right: 2rem;
}

.books-img-right {
	flex-flow: row wrap;
	margin: auto;
}

.books-img-right img {
	height: 40rem;
	margin-left: 0rem;
	margin-right: 10rem;
}

.aside-quote {
	display: block;
	background-image: url('../images/TanPaper.jpg');
}

.aside-quote blockquote {
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 40%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

/******************************************
/* Blog (blog.html)
/*******************************************/

.blog-container {
	display: flex;
	flex-flow: row nowrap;
}

.entry-container {
	flex-flow: column nowrap;
	order: 1;
	width: 58%;
}

.blog-entry {
	padding-left: 3rem;
	margin-left: 4rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CDCDCD;
	margin-bottom: 4rem;
}

.blog-content {
	flex-flow: row wrap;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.blog-content p:nth-child(2) {
	width: 55%;
	font-size: 1.8rem;
	font-weight: 600;
}

.blog-content p {
	width: 100%;
	font-size: 1.8rem;
	text-align: justify;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
}

.emphasis {
	font-size: 2rem !important;
	font-weight: bold !important;
}

.sidebar {
	order: 2;
	width: 48%;
}

.blog-pic {
	max-width: 30rem;
	max-height: 30rem;
	padding: 2rem;
	padding-left: 0rem;
}

.green {
	font-color: #1FA362;
}

.gry-shadow {
	text-shadow: 1.5px .5px 1.5px rgb(119,119,119,.5);
}

.headline {
	font-size: 2.4rem;
}

.title {
	margin: auto;
	text-align: center;
	font-size: 3.4rem;
	font-style: italic;
	padding-top: 5rem;
	padding-bottom: 3rem;
	color: rgba(255,64,64, .7);
	text-shadow: 1.5px .5px 1.5px rgba(118,118,118,.5);
}

.archive-list {
	text-align: center;
	font-size: 2.2rem;
	font-family: 'Cormorant Garamond', serif;
}

summary {
	font-style: italic;
}

.blog-date {
	font-size: 2rem;
}

@media (max-width: 1180px) {
	.blog-content p:nth-child(2) {
		width: 100%;
		font-size: 1.8rem;
		text-align: justify;
		font-family: 'Cormorant Garamond', serif;
		font-weight: 300;
	}

	.blog-entry {
		text-align: center;
	}

	.blog-pic {
		margin: auto;
	}

	.blog-content p {
		text-align: justify;
		margin: auto;
		padding-right: 2rem;
		padding-bottom: 2rem;
	}

	.archive-list {
		margin-top: 2rem;
	}

	.entry-container .title {
		padding-left: 3rem;
		margin-left: 4rem;
	}

}

/******************************************
/* Footer
/*******************************************/

#footer p {
	text-align: left;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
}

#footer {
	display: block;
	background-color: rgba(226,96,0,.05);
	margin: 0;
	margin-top: 1rem;
}